#container
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#left
{
	float:left;
	height:100%;
	width:140px;
}

.leftcontainer
{
	border-width:1px;
	border-style:dotted;
	padding: 3px;
	margin-top:1px;
}

#content
{
	padding-left:1px;
	
}